.btn {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  background: none;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white
}
.btn.inactive {
  opacity  : .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
